<div class="widget-wrap">
  <h3 class="widget-title">Trending tags</h3>
  <div class="widget" style="box-shadow: 2px 3px 3px 3px #8DB98A;">
    <%
      var tags = {};
      var itr = 0;
      site.posts.forEach(item => {
        if (itr < 150) {
          // Limited the last post lookup to the last 50 posts
          itr += 1;
          if (item.hasOwnProperty("tags")) {
            // The post has tags (skip broken posts)
            item.tags.data.forEach(tag => {
              // Iterate over each of the post's tags
              if (tag.name in tags) {
                // Iterate the tag in the tags obj
                tags[tag.name] += 1;
              } else {
                // Initialise the tag in the tags obj
                tags[tag.name] = 1;
              }
            })
          }
        }
      });

      const medals = {'1': "🥇", '2': "🥈", '3': "🥉"};
      sorted_tags = Object.keys(tags).sort(function(a,b){return tags[b]-tags[a]})
    %>
    <% const final_number = 35; %>
    <ul>
    <% for (i = 0; i < final_number; i++) {  var current_item=sorted_tags[i]; %>
        <li style="font-size:14px;">
          <% if (i + 1 < 4) { %>
            <%- medals[(i + 1).toString()]; %>
          <% } %>
          <a href="/tags/<%- current_item %>/" class="navlink"><span style="font-size:18px;"><%= current_item %></span></a> <div class="d-none d-lg-block d-print-block float-right" style="color:grey;"><%- tags[current_item] %> posts</div>
        </li>
    <% }; %>
    </ul>
  </div>
</div>

<div class="widget-wrap">
  <h3 class="widget-title">Historical tag usage</h3>
  <div class="widget" style="box-shadow: 2px 3px 3px 3px #8DB98A;">
    <%
      var tags = {};
      site.posts.forEach(item => {
        if (item.hasOwnProperty("tags")) {
          // The post has tags (skip broken posts)
          item.tags.data.forEach(tag => {
            // Iterate over each of the post's tags
            if (tag.name in tags) {
              // Iterate the tag in the tags obj
              tags[tag.name] += 1;
            } else {
              // Initialise the tag in the tags obj
              tags[tag.name] = 1;
            }
          })
        }
      });

      sorted_tags2 = Object.keys(tags).sort(function(a,b){return tags[b]-tags[a]})
    %>
    <% const final_number2 = 35; %>
    <ul>
    <% for (i = 0; i < final_number2; i++) {  var current_item=sorted_tags2[i]; %>
        <li style="font-size:14px;">
          <% if (i + 1 < 4) { %>
            <%- medals[(i + 1).toString()]; %>
          <% } %>
          <a href="/tags/<%- current_item %>/" class="navlink"><span style="font-size:18px;"><%= current_item %></span></a> <div class="d-none d-lg-block d-print-block float-right" style="color:grey;"><%- tags[current_item] %> posts</div>
        </li>
    <% }; %>
    </ul>
  </div>
</div>

<%
let permalink_array_tags = []; // avoid duplicate related posts
let title_array_Tags = []; // avoid duplicate title posts

let tag_widget_count = 4;
/*
if (page.title == "index") {
  tag_widget_count = 10;
}
*/

for (i = 0; i < tag_widget_count; i++) {
  %>
  <div class="widget-wrap">
    <h3 class="widget-title">Trending: <a href="/tags/<%- sorted_tags[i]; %>/"><%- sorted_tags[i]; %></a></h3>
    <div class="widget" style="box-shadow: 2px 3px 3px 3px #8DB98A;padding-left:5px;padding-right:5px;">
      <ul class="list-group list-group-flush">
      <%
        let post_counter2 = 0;
        site.posts.forEach(item => {
          let tag_list = [];
          item.tags.data.forEach(a => {
            tag_list.push(a.name)
          });

          if ((tag_list.includes(sorted_tags[i])) && (post_counter2 < 6) && (!permalink_array_tags.includes(item.permalink)) && (!title_array_Tags.includes(item.title))) {
            post_counter2 += 1;
            permalink_array_tags.push(item.permalink);
            title_array_Tags.push(item.title);
            %>
              <a href="<%- item.permalink %>" class="list-group-item list-group-item-action" style="padding-left:5px;padding-right:5px;">
                <img src="//images.weserv.nl/?url=<%- (item.images)[0] %>&w=95&h=95&output=webp" alt="<%= item.title %>" title="<%= item.title %>" style="float:left;padding-right:5px;" />
                <%= item.title %>
              </a>
            <%
          }
        });
      %>
      </ul>
    </div>
  </div>
  <%
}
%>
